{% extends '::base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block title %}{{page.title}}{% endblock %}

{% block body %}
        <div id="wrapper">
            {% block menu %}<nav id="menu">{{knp_menu_render('main_menu')}}</nav>{% endblock %}
            {% block content %}
            <div id="main">
                {{mercury_full('content')}}                
            </div>
            {% endblock %}
        </div>
{% endblock %}